<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <main>
      <div class="three-column">
        <div class="left-column">
          {% include navbar.html %}
          <!-- Left content (if any) below navbar -->
        </div>
        <div class="middle-column">{{ content }}</div>
        <div class="right-column">
          <!-- Right content -->
          {% include social.html %}
        </div>
      </div>
    </main>
    <script>
      document.querySelectorAll("a.external").forEach((link) => {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener noreferrer");
      });
    </script>
  </body>
</html>
